body{
    text-align: center;
    font-family: 'Curier';
    color: crimson;
}

#container{
    width: 70%;
    padding: 1em;
    text-align:left;
    color: darkslategray;
    margin: 0 auto;
    border: 1px solid #DDD;
}

#container h1{
    font-size: 20px;
}

#container h2{
    color: crimson;
}