body{
    text-align: center;
    font-family: 'Lucida Sans';
    color: crimson;
}

#container{
    padding: 20pt;
    text-align:left;
    color: darkgray;
    margin: 0;
   border 1px solid #DDD;
}